Score {
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 32px;
	left: 64px;

	image {
		width: 128px;
		height: 128px;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

label {
	font-family: 8-bit-arcade-in;
	font-size: 128px;
	color: #ff0000;
}