Score {
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 32px;
	left: 64px;

	image {
		width: 128px;
		height: 128px;
		background-size: cover;
		background-repeat: no-repeat;
	}
}