nametag {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	white-space: nowrap;
	justify-content: center;
	align-items: center;

	.name {
		font-family: Poppins;
		font-size: 16px;
		font-weight: 800;
		color: white;
		text-shadow: 1.5px 1.5px 0 black;
	}
}
