{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": false,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 30,
  "__guid": "ab859460-6d9c-42f2-a76d-246a3f9d50a7",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}